<p id="notice"><%= notice %></p>

<p>
  <strong>Date of e:</strong>
  <%= @event.date_of_e %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
