<p id="notice"><%= notice %></p>

<p>
  <strong>Ln:</strong>
  <%= @student.ln %>
</p>

<p>
  <strong>Fn:</strong>
  <%= @student.fn %>
</p>

<p>
  <strong>Sn:</strong>
  <%= @student.sn %>
</p>

<p>
  <strong>Group:</strong>
  <%= @student.group.id %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
